<!DOCTYPE html>
    <html>
        <head>
        </head>
        <body>
            <header>
            </header>
            <main id="container">
                
            </main>
            <footer>
                
            </footer>
        </body>
    </html>